@font-face {
  font-family: Inter-Bold;
  src: url(fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Thin;
  src: url(fonts/Inter-Thin.ttf);
}

.bg {
  background: url(images/bg.jpg);
}

.header {
  background-color: #000000;
  color: #FFFFFF;
  height: 80px;
  width: 100%;
}

.link {
  position: absolute;
  top: 2%;
  right: 120px;
  width: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
}

.link:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.link_password {
  font-family: 'Inter-Thin';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #777777;
  text-decoration: none;
}

.link_password:visited {
  color: #777777;
  text-decoration: none;
}

.link_password:hover {
  color: #777777;
  text-decoration: none;
}

.photo {
  position: absolute;
  top: 1%;
  right: 10px;
  width: 60px;
  height: 60px;
}

.logo {
  position: absolute;
  top: 1%;
  left: 2%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  background: linear-gradient(90deg, #221183 -6.16%, #7B45EC 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.text2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.text3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.text4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #8D8D8D;
}

.text5 {
  text-align: left;
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 58px;
  background: linear-gradient(90deg, #5101FF, #B901FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  color: #FFFFFF;
}

.text7 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
}

.heading {
  text-align: center;
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(90deg, #5101FF, #B901FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.sh {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  background: linear-gradient(90deg, #5101FF -36.11%, #B901FF 92.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transform: rotate(90deg);
}

.v1 {
  border-left: 2px solid #7C02FF;
  height: 500px;
}

.v2 {
  border-left: 2px solid #7C02FF;
  height: 800px;
}

.button {
  border-radius: 35px;
  height: 60px;
  width: 250px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(90deg, #5101FF, #B901FF);
}

.reg_c {
  margin-left: 35%;
  height: 600px;
  width: 600px;
  background: linear-gradient(180deg, rgba(83, 2, 255, 0.2) 0.03%, rgba(185, 2, 255, 0.2) 99.97%);
}

.reg_heading {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 58px;
  text-align: center;
  background: linear-gradient(90deg, #5101FF, #B901FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.reg_input {
  border-radius: 35px;
  height: 60px;
  width: 450px;
  color: #FFFFFF;
  font-family: 'Inter-Thin';
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  background: transparent;
  border: solid #8901FF;
  border-width: 1px;
}

.tabs {
  margin: 0 0 50px 0;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  flex: 0 1 33.333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
  color: #FFFFFF;
  text-decoration: none;
}

.tabs__item:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.tabs__item:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.tabs__item span {
  position: relative;
  z-index: 2;
}

.tabs__body {
  ;
}

.tabs__block {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: rgb(70, 70, 70);
  padding: 20px;
  display: none;
}

.tabs__block:before {
  content:  "";
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
}

.tabs__block:nth-child(1):before {
  left: 0;
  background-color: rgb(70, 70, 70);
}

.tabs__block:nth-child(2):before {
  left: 33.333%;
  background-color: rgb(70, 70, 70);
}

.tabs__block:nth-child(3):before {
  left: 66.666%;
  background-color: rgb(70, 70, 70);
}

.tabs__block:target {
  display: block;
}

@media (max-width:  600px) {
  .tabs__item span {
    display: block;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }
}

.active {
  margin: 0 -1% 15px;
  overflow: hidden;
}
.active div {
  display: none;          
  padding: 40px 0;    
}
.right-active div {
    float: right; 
}
.left-active div {
    float: left; 
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.preanim-left.animated-left{
  transform: translateY(-150%);
  animation: anileft 1s forwards;
}

@keyframes anileft {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}
.preanim-right.animated-right{
  transform: translateY(150%);
  animation: aniright 1s forwards;
}

@keyframes aniright {
  0% {transform: translateX(150%);}
  100% {transform: translateY(0);}
}
.preanim-up.animated-up{
  transform: translateY(150%);
  animation: aniup 3s forwards;
}

@keyframes aniup {
  0% {transform: translateY(-150%);}
  50% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}
.preanim-bot.animated-bot{
  transform: translateY(150%);
  animation: anibot 3s forwards;
}

@keyframes anibot {
  0% {transform: translateY(150%);}
  50% {transform: translateY(50%);}
  100% {transform: translateY(0);}
}
.preanim-right{
;
}
.preanim-left{
  
}
.preanim-up{
  
}
.preanim-bot{
  
}
