@import "../../index.css";
*,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .container {
      max-width: 700px;
      margin: 0 auto;
    }

    .itc-slider__wrapper {
      overflow: hidden;
    }
    .itc-slider__items {
      counter-reset: slide;
    }
    .itc-slider-1 {
      margin-bottom: 1rem;
    }
    .itc-slider-1 .itc-slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      counter-increment: slide;
      position: relative;
    }
   .itc-slider-1 .itc-slider__item::before {
      content: counter(slide);
      position: absolute;
      top: 10px;
      right: 20px;
      color: #fff;
      display: block;
    }

    .itc-slider-2 .itc-slider__item {
      flex: 0 0 50%;
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .itc-slider-4 .itc-slider__item {
      flex: 0 0 25%;
      max-width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.square-wrapper {
  border: 2px dashed #373737;
  width: 200px;
  height: 200px;
}
.square {
  width: 200px;
  height: 200px;
  background: #e62a52;
  border-radius: 8px;
}
.square-animation {
  animation: wipe-enter 2s 1
}
@keyframes wipe-enter {
  0% {
    transform: scale(0, .025)
  }
  50% {
    transform: scale(1, .025)
  }
}

.wrap {
  display: flex;
}
.stage {
  position: relative;
  height: 250px;
  margin-top: 110vh;
}
.stage, .stage-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stage-footer {
  margin: 10px
}