@import "../../index.css";

.add_file {
  width: 450px;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  color: #FFFFFF;
  font-family: 'Inter-Thin';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  background: #666666;
  border: solid #666666;
  border-width: 1px;
}

.add_input {
  max-width: 450px;
  min-width: 450px;
  border-radius: 35px;
  width: 450px;
  color: #FFFFFF;
  font-family: 'Inter-Thin';
  font-style:
  italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  background: transparent;
  border: solid #8901FF;
  border-width: 1px;
  margin-top: 10px;
  margin-left: 150px;
}